<!DOCTYPE html>
<html>
    <head>
        <title>PizzAi - What's cookin'?</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        <link rel="icon" type="image/png" href="{{url_for('static', filename='img/logo_pizzai.png')}}">
        <!-- scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{{url_for('static', filename='js/pizza.js')}}"></script>
    </head>
    <body>
        <header id="run">
          <a href="{{url_for('home')}}">
                <img src="{{url_for('static', filename='img/pizzai.svg')}}" />
                <link rel="icon" type="image/x-icon" href="img/pizzai.svg">
            </a>
            <div id="nav" class="navbar">
                <div class="navbar-item" onclick="goTo('run')">
                    <img src="https://img.icons8.com/ios-glyphs/30/000000/play-button-circled--v1.png" />
                    <span>Run</span>
                </div>
                <div class="navbar-item" onclick="goTo('about')">
                    <img src="https://img.icons8.com/ios-glyphs/30/000000/info--v1.png" />
                    <span>About</span>
                </div>
                <div class="navbar-item" onclick="goTo('team')">
                    <img src="https://img.icons8.com/ios-glyphs/30/000000/leadership--v1.png"/>
                    <span>Team</span>
                </div>
            </div>
            <div id="pos" class="navbar-position">
                <div></div> <!-- Represents a shape -->
            </div>
            <div class="theme-switch">
                <img draggable="false" id="switcher-ico" src="https://img.icons8.com/ios-glyphs/48/ffffff/sun--v1.png" onclick="setTheme()"/> <!-- sun/moon -->
            </div>
        </header>

        <div class="loader">
          <!-- .loader is a flex div that covers the entire screen width -->
          <img id="pizza" src="{{url_for('static', filename='img/pizzai.svg')}}" />

          <!-- KEYFRAME ROTATE THIS IMG !!!!! -->
          <img id="spin" src="https://img.icons8.com/ios-glyphs/30/ffffff/spinner-frame-5.png"/>
          <span style="color: white; font-weight: bold;">Thinking...</span>

        </div>

        <div class="main-container">
            <div class="main">
                <span id="title" class="title"></span> <!-- "What's cookin?", etc. -->
                
                <!-- Randomize the placeholders, (unsalted butter, flour, eggs, etc.)-->
                <div id="ic" class="input-container" style="display: flex; justify-content: center;">
                    <input id="input" class="prompt" type="text" placeholder="unsalted butter..." />
                    <img class="add-btn" src="https://img.icons8.com/ios-glyphs/48/ffffff/plus-math.png" onclick="addItem()" />
                </div>
                
                <!-- Error text just in case the input is wrong -->
                <span id="error" class="error"></span>
              
                <!-- Another error section for recipe generation errors -->
                <img id="errIco" style="display: none; margin-bottom: 24px;" src="https://img.icons8.com/ios-glyphs/64/ffffff/error--v1.png"/>
                <span id="woopsie" style="display: none; color: var(--color-primary); font-size: 24px;">Oops! We dropped the plate!</span>
                <span id="genError" style="display: none; color: var(--color-primary);">Something went wrong when fetching your recipe.</span>
                <a id="errRetry" style="display: none; margin-top: 24px; text-decoration: none" href="{{url_for('home')}}">
                    <button id="new" class="secondary" onclick="window.location.reload()">Try again</button>
                </a>

                <!-- List items are added to this #list div -->
                <div id="list" class="list"></div>

                <div id="btn-main" class="buttons-main">
                <!-- Take a photo button here -->
                    <form action="{{url_for('upload_file')}}" method="POST" enctype="multipart/form-data" id="fileForm">
                      <input type="file" id="file" name="file" style="display:none;" onchange="form.submit()"/>
                  </form>
                    
                    <button class='secondary ico-btn' id="button" name="button" value="Upload" onclick="fileget();">
                        <img src="https://img.icons8.com/ios-glyphs/30/808080/slr-camera.png" />
                    </button>
                    <button class="primary" id="go" onclick="sendResults()">Go!</button>
                    <button class="secondary ico-btn" id="rand" onclick="sendResults(randomize())">
                        <img src="https://img.icons8.com/ios-glyphs/30/808080/dice.png" />
                    </button> <!-- Die icon -->


                </div>

                <!-- The part where we show the results :D -->
                <span id="res-title" class="title">Your Recipe</span>
                <div id="res-container" class="paper">
                    <span id="r-title" class="r-title"></span>

                    <span id="sel-ingredients" class="r-sel">Ingredients ▾</span> <!-- add a down arrow next to it (unicode) -->
                    <div id="r-ing-container" class="r-i-container">

                    </div>

                    <span id="sel-steps" class="r-sel">Instructions ▾</span> <!-- add a down arrow next to it (unicode) -->
                    <div id="r-step-container" class="r-i-container">

                    </div>
                </div>

                <div id="btn-result" class="buttons-main"> <!-- should change this classname -->

                  <button class="secondary" id="save" onclick="reveal_the_BUTTON()">Save</button>
                    <button style="display: none" class="secondary ico-btn" id="print"onclick="printRecipe()">
                      <img src="https://img.icons8.com/ios-glyphs/30/808080/print.png"/>
                    </button>
                    <button style="display: none; padding: 10px 20px !important;" class="secondary" id="copy" onclick="navigator.clipboard.writeText(currentRecipe)">
                      <img src="https://img.icons8.com/ios-glyphs/30/808080/copy-2.png"/>
                    </button>

                    <button class="secondary" id="retry" onclick="sendResults(retry())">Retry</button>
                  <a href="{{url_for('home')}}">
                    <button class="primary" id="new" onclick="window.location.reload()">New Recipe</button>
                  </a>
                </div>
                <!-- nav down button -->
                <img id="next" class="down" src="" onclick="goTo()" />
            </div>
        </div>

        <!-- Custom SVG wave by shapedivider.app :) -->
        <style>
            .custom-shape-divider-bottom-1659132045 {
                margin-bottom: -2px;
                width: 100%;
                overflow: hidden;
                line-height: 0;
                transform: rotate(180deg);
            }

            .custom-shape-divider-bottom-1659132045 svg {
                position: relative;
                display: block;
                width: calc(150% + 1.3px);
                height: 83px;
                transform: rotateY(180deg);
            }

            .custom-shape-divider-bottom-1659132045 .shape-fill {
                fill: var(--color-primary);
            }
        </style>
        <div class="custom-shape-divider-bottom-1659132045">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
            </svg>
          
        </div>
      
        <div id="about" class="section">
            <img src="{{url_for('static', filename='img/pizzai.gif')}}" />
            <span class="section-title">About PizzAI</span>
            <span class="section-description">So how did we make PizzAI? And more importantly, why? </span>
            
            <div class="decor-line"></div>
            <span class="text-large">According to the FDA{{data}}, ~30%-40% of the food supply is estimated to be wasted; if we could find ways to utilize left-over ingredients more efficiently, we could reduce food waste on a large scale.</span>
            <div class="decor-line"></div>

            <div class="timeline">
                 <!-- Once again graciously provided by shapedivider.app :) -->
                <style>
                    .custom-shape-divider-top-1659462397 {
                        width: 100%;
                        overflow: hidden;
                        line-height: 0;
                    }
    
                    .custom-shape-divider-top-1659462397 svg {
                        position: relative;
                        display: block;
                        width: calc(100% + 1.3px);
                        height: 36px;
                    }
    
                    .custom-shape-divider-top-1659462397 .shape-fill {
                        fill: var(--color-primary);
                    }
                </style>
                <div class="custom-shape-divider-top-1659462397">
                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                        <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
                    </svg>
                </div>

                <div class="timeline-right">
                    <img class="tl-img" src="{{url_for('static', filename='photos/NewDataset.png')}}" />
                    <div class="tl-text">
                        <span class="tl-title">Getting the Dataset</span>
                      <span class="tl-description">We downloaded a <a href="https://www.kaggle.com/datasets/zeeenb/recipes-from-tasty?select=ingredient_and_instructions.json">dataset</a> from Kaggle with dishes, recipes, and ingredients separated. Next, we used a script to separate each part and connect the recipes to ingredients, etc, creating a coherent output. Lastly, we saved this output to a CSV file and tokenized it.</span>
                    </div>
                </div>
                <div class="timeline-left">
                    <div class="tl-text">
                        <span class="tl-title">Data Preprocessing</span>
                        <span class="tl-description">To get our model to output the desired recipes, we had to preprocess our data from a massive list of recipes to one that separated the ingredients, recipe, and food dish name. This was done by making a JSON file that tagged each data category.</span>
                    </div>
                    <img class="tl-img" src="{{url_for('static', filename='photos/CSVformat.png')}}" />
                </div>
                <div class="timeline-right">
                    <img class="tl-img" src="{{url_for('static', filename='photos/trainingFinal.gif')}}" />
                    <div class="tl-text">
                        <span class="tl-title">Training the Model</span>
                        <span class="tl-description">To start, we used GPT-2 for our model, but quickly switched to Gpt-2 + tensor flow which improved model accuracy. After training numerous models on this standard, we made the switch to GPT-3 which has substantially higher quality outputs, which is what we are using today.
</span>
                    </div>
                </div>

                <!-- Another one -->
                <style>
                    .custom-shape-divider-bottom-1659462528 {
                        margin-top: 64px;
                        margin-bottom: -2px; /* fix */
                        width: 100%;
                        overflow: hidden;
                        line-height: 0;
                        transform: rotate(180deg);
                    }

                    .custom-shape-divider-bottom-1659462528 svg {
                        position: relative;
                        display: block;
                        width: calc(100% + 1.3px);
                        height: 36px;
                    }

                    .custom-shape-divider-bottom-1659462528 .shape-fill {
                        fill: var(--color-primary);
                    }
                </style>
                <div class="custom-shape-divider-bottom-1659462528">
                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                        <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
                    </svg>
                </div>


            </div>

        </div>
        <div id="team" class="section">
            <span class="section-title">Team</span>

            <!-- 2 -->
            <div class="avatar-container">
                <img class="avatar" src="{{url_for('static', filename='photos/NewRay.jpg')}}" />
                <img class="avatar" src="{{url_for('static', filename='photos/Manny.jpg')}}"/>
            </div>
            <div class="info-container">
                <div id="name" class="info">
                    <span class="name">Ray Li</span>
                    <span class="detail">Data to CSV converter</span>
                    <button class="primary info-btn" onclick="window.open('https://github.com/rayzhili','_blank');">GitHub</button>
                </div>
                <div id="name" class="info">
                    <span class="name">Manny T.</span>
                    <span class="detail">Frontend Developer</span>
                    <span class="detail">Monkey with wrench</span>
                    <div id="spacer" style="margin: 32px 0px;"></div>
                  </div>
            </div>

            <!-- 3 -->
            <div class="avatar-container">
                <img class="avatar" src="{{url_for('static', filename='photos/brendan.jpg')}}" />
                <img class="avatar" src="{{url_for('static', filename='photos/brysen.gif')}}" />
                <img class="avatar" src="{{url_for('static', filename='photos/autumn.png')}}" />
            </div>
            <div class="info-container">
              <div id="name" class="info">
                <span class="name">Brendan K.</span>
                <span class="detail">GPT-3 Formatter</span>
                <button class="primary info-btn" onclick="window.open('https://www.linkedin.com/in/brendan-keane-1746bb204', '_blank');">LinkedIn</button>
                
              </div>

                <div id="name" class="info">
                    <span class="name">Brysen P.</span>
                    <span class="detail">Lead Developer</span>
                    <span class="detail">Ui/Ux Designer</span>
                    <button class="primary info-btn" onclick="window.open('https://github.com/mxchakitty', '_blank');">GitHub</button>
                </div>
                <div id="name" class="info">
                    <span class="name">Autumn F.</span>
                    <span class="detail">Model Trainer</span>
                    <span class="detail">Ui/Ux Designer</span>
                    <button onclick="window.open('https://autumn.onl', '_blank');" class="primary info-btn">Portfolio</button>
                </div>
              <!--  Seth -->
            </div>
          
              
            <!-- 2 -->
            <div class="avatar-container">
                <img class="avatar" src="{{url_for('static', filename='photos/haley.jpg')}}" />
                <img class="avatar" src="{{url_for('static', filename='photos/david.jpg')}}" />
            </div>
            <div class="info-container">
                <div id="name" class="info">
                    <span class="name">Haley G</span>
                    <span class="detail">Frontend Developer</span>
                    <span class="detail">Used Python, Py Flask,</span>
                    <span class="detail">HTML, CSS, JS, etc.</span>
                    <button class="primary info-btn" onclick="window.open( 'https://linktr.ee/_haley_','_blank')">LinkTree</button>
                </div> 
                <div id="name" class="info">
                    <span class="name">David T</span>
                    <span class="detail"><i>Cloned</i> a GitHub repository</span>
                    <button class="primary info-btn" onclick="window.open('https://www.linkedin.com/in/david-tuvshin-5852b5216/', '_blank');">LinkedIn</button>
                </div>
            </div>
        </div>
        <div id="banner-aicamp" class="banner">
          <a>
            <img style="width: 128px; z-index: 1;" src="{{url_for('static', filename='ai_camp_logo.png')}}" />
          </a>
          <span class="banner-text">www.ai-camp.org</span>
          <button style="z-index: 1;" class="secondary" onclick="window.open('https://www.ai-camp.org/','_blank')">Learn Now</button>
        </div>
    </body>

  <script>
    let isRand = false;
    let isImage = false; // If we took a picture for our recipe

    const printRecipe = () => {
      let page = window.open('', '', 'height=500, width=500');
      // (genTitle, genIngredients, genInstructions);
      page.document.write(`
        <html>
          <body>
            <h1>${currentRecipe[0] /* title */}</h1>
            <br />

            <h2>Ingredients</h2>
            <p>${currentRecipe[1].join('<br />')}</p>
            <br />

            <h2>Instructions</h2>
            <p>${currentRecipe[2].join('<br />')}</p>
            <br />
            <br />

            <p>Recipe generated by PizzaAi.</p>
          </body>
        </html>
      `);

      page.document.close();
      page.print();
    }

    function checkRecipe(){
      console.log({{recipe|safe}})
      var recipe = {{recipe|safe}}
      if(recipe != ""){
        let main = ["title", "ic", "error", "list", "btn-main"]
        main.forEach((elm) => {
            _$(elm).style.display = "none";
        });

        isImage = true;
        setRecipe(recipe)
      }
    };

    function fileget() {
      document.getElementById("file").click();
    };

    function retry() {
      let shuffledIngredients;

      if (isRand) {
        shuffledIngredients = randomize();
      } else {
        shuffledIngredients = ingredients.sort(() => Math.random() - 0.5); // Randomize the list 
      }

      // Clear the title
      _$("r-title").innerHtml = '';

      // Delete any child nodes from the step and ingredient containers
      let containers = ["r-ing-container", "r-step-container"];

      for (let i = 0; i < containers.length; i++) {
        while (_$(containers[i]).firstChild) {
          _$(containers[i]).removeChild(_$(containers[i]).firstChild);
        }
      }

      
      return shuffledIngredients;
    };

    function sendResults(rand) {
        if (ingredients.length == 0 && !rand) {
            _$("error").innerText = "Please enter at least one ingredient!";

            setTimeout(() => _$("error").innerText = "", 3000);
            return;
        }

        let main = ["title", "ic", "error", "list", "btn-main"]
        main.forEach((elm) => {
            _$(elm).style.display = "none";
        });

        console.log(ingredients);

        let data;

        if (rand) {
          console.log("rand is:" + rand.join(', '));
          data = rand.join(', ');
        } else {
          // Get data from the ingredients array
          data = ingredients.join(', ');
        }

        data += ' ->';

        console.log(ingredients);

        var obj = {
          'input': data
        }

      $.ajax({
          url: "{{url_for('my_function')}}",
          contentType: "application/json",
          type: 'POST',
          data: JSON.stringify(obj),
          success: (res) => {
              console.log(res)
              setRecipe(res);
          },
          error: (err) => {
            console.log(err)
            let elms = ["errIco", "woopsie", "genError", "errRetry"];
            elms.forEach(elm => {
              document.getElementById(elm).style.display = "flex";
            });
          }
      });
    }
  </script>
</html>